<% include partials/head.ejs %>
<body>
<header>
    <nav>
        <ul>
            <li><a href="javascript:history.back()"><i class="fas fa-chevron-left"></i></a></li>
            <li>Over ons</li>
            <li><a href="index.html"><img src="../../static/img/logo.png" alt="logo"></a></li>
        </ul>
    </nav>
</header>
<main>
    <article>
        <h1>Matchen op wat uitmaakt</h1>
        <p>Op LoveSome, zijn we toegewijd om mensen te helpen liefde en geluk te vinden door middel van zinvolle verbindingen. Ons unieke algoritme komt overeen met wat echt belangrijk is.</p>
    </article>
    <div>
            <figure>
                <img src="<%= team[0].pic %>" class="profile_img" alt="aaron-smith">
                <h2><%= team[0].firstName %></h2>
                <p><%= team[0].position %></p>
            </figure>
            <figure>
                <img src="<%= team[1].pic %>" class="profile_img" alt="blake-washington">
                <h2><%= team[1].firstName %></h2>
                <p><%= team[1].position %></p>
            </figure>
            <figure>
                <img src="<%= team[2].pic %>" class="profile_img" alt="chris-hield">
                <h2><%= team[2].firstName %></h2>
                <p><%= team[2].position %></p>
            </figure>
            <figure>
                <img src="<%= team[3].pic %>" class="profile_img" alt="diana-davis">
                <h2><%= team[3].firstName %></h2>
                <p><%= team[3].position %></p>
            </figure>
        </div>
</main>

<% include partials/tail.ejs %>