include partials/header-loggedin.pug
section.matches
    h1 Potentiële matches (#{intrest}en)
    p Jouw Keuzes: 
    - for (let i = 0; i < films.length; i++)
            span #{films[i].title} 
    ul
      - for (let i = 0; i < data.length; i++) {
            li                        
                h3 #{data[i].username} 
                img.match_img(src='../static/upload/'+data[i].profilepicture, alt=data[i].firstName)
                button(class='unmatch', id='js-remove', data-id=data[i]._id) Mehh
                button(class='message') Leuk
      - }
include partials/tail.pug