include partials/header-loggedin.pug
section.matches
 
    h1 Potentiële matches (#{interest}en)

    p Jouw Keuzes: 
    - for (let i = 0; i < movies.length; i++)
            span #{movies[i].title} 
            
    ul
      - for (let i = 0; i < data.length; i++) {
            li                        
                img.match_img(src='../static/upload/'+data[i].profilepicture, alt=data[i].firstName)
                button(class='unmatch', id='js-remove', data-id=data[i]._id) Mehh
                button(class='message') Leuk
                h3 #{data[i].username} 
      - }
include partials/tail.pug