<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="shortcut icon" type="image/png" href="../../static/img/logo.png"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/logged_in.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.typekit.net/etb5dmm.css">
    <title>LoveSome</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/"><img src="../../static/img/logo.png" alt="logo"></a></li>
                <li><a href="#"> Blader door Matches</a></li>
                <li><a href="#"> Likes</a></li>
                <li><a href="#"> Gesprekken</a></li>
                <li><a href="/<%= user.id %>"><img src="../static/upload/<%= user.picture %>" class="nav_img" alt="<%= user.username %>"></a></li>
                <li><a href="<%= data._id %>/matches/logout"> Uitloggen</a></li>
            </ul>
        </nav>
    </header>
    <section class="userlist">
        <h1>Potentiële matches</h1>
        <% for (let i = 0; i < data.length; i++) { %>
        <div>
            <div>
            <h3>Gebruikersnaam: <%= data[i].username %></h3>
            <img src="../static/upload/<%= data[i].profilepicture %>" class="match_img" alt="<%= data[i].firstName %>">
            <button id="js-remove" data-id='<%= data[i]._id %>' class="danger">Unmatch</button>
            </div>
        </div>
        <% } %>
    </section>

<% include partials/tail.ejs %>