include partials/header-loggedin.pug
body
    main.profile
        article.header
            section
                div
                    if user 
                            img.profile_img(src='../static/upload/'+data.profilepicture, alt='#{data.firstName}')
                            h1 #{user.username}
                            data-caption
                                p 21
                                span .
                                p #{data.gender}
                            |                   
        article.content
            section
                h4 Over mij
                h1 Korte omschrijving
                textarea#desc(name='omschrijving', cols='120', rows='12', placeholder='Vertel iets over jezelf')
            section
                h4 Films
                h1 Films die ik leuk vind
                - for (let i = 0; i < data.movie.length; i++)
                    h2 #{data.movie[i].title}
                    img.image(src=data.movie[i].poster)
                a(href= data._id+'/movie') Voeg een film toe
include partials/tail.pug
