<% include partials/header.ejs %>

<main>
    <h1>User Registered</h1>
    <h2>User Profile</h2>
    <% for (let i = 0; i < data.length; i++) { %>
        <h3>Voornaam: <%= data[i].firstName %></h3>
        <h3>Gender: <%= data[i].gender %> </h3>
        <h3>Geboortedatum: <%= data[i].birthday %> - <%=  data[i].birthmonth, %> - <%= data[i].birthyear %> </h3>
        <button id="js-remove" data-id='<%= data[i].id %>' class="danger">Remove</button>
    <% } %>
</main>

<% include partials/tail.ejs %>