<% include partials/header.ejs %>

<main>
    <h1>User Registered</h1>
    <h2>User Profile</h2>
    <% for (let i = 0; i < testData.length; i++) { %>
        <h3>Voornaam: <%= testData[i].firstName %></h3>
        <h3>Gender: <%= testData[i].gender %> </h3>
        <h3>Geboortedatum: <%= testData[i].birthday %> - <%=  testData[i].birthmonth, %> - <%= testData[i].birthyear %> </h3>
        <button id="js-remove" data-id='<%= testData[i].id %>' class="danger">Remove</button>
    <% } %>
</main>

<% include tail.ejs %>